<div class="row-fluid dialog-wrapper">
  <div class="span8 offset2 dialog-pane">
    <img src="img/oharas-email-thanks.png">

    <div class="row-fluid">
      <div class="span10 offset1">
        <p>To learn more about O'Hara's visit: <a href="http://www.carlowbrewing.com/">http://www.carlowbrewing.com</a></p>


      </div>
    </div>
  </div>
</div>
