<div class='flash' style='display:none'>
</div>

<noscript>
  <div class="flash">
    <div class="error">
      <span class="message">You need javascript enabled for the internet to function properly.</span>
    </div>
  </div>
</noscript>
