<div class="row-fluid dialog-wrapper" style="height: 400px;">
  <div class="span6 offset3">
    <img src="img/fullers-email-thanks.png">
    <p>To learn more about Fullers visit: <a href="http://www.fullers.co.uk/">http://www.fullers.co.uk/</a></p>
    <img src="img/fullers-logo.png" style="margin-top:20px; margin-bottom: 20px;">
  </div>
</div>
