
body {
  margin: 0;
  padding: 0;
}

.container {
  position: relative;
  width: 810px;
  height: 648px;
  margin: 0 auto;
  position: relative;
  background: #000 url('img/ohara-bg.jpg') no-repeat 0 0;
}

#nav {
  padding: 101px 0 0 10px;
}
#nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#nav ul li {
  width: 253px;
  height: 64px;
  margin-top: 5px;
  background-color: transparent;
  background-image: url('img/ohara-nav-sprite.png');
  background-repeat: no-repeat;
  /* Scott Kellum Text Hide */
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
#nav ul li.stout {
  background-position: 0 0;
}
#nav ul li.red {
  background-position: 0 -65px;
}
#nav ul li.leann {
  background-position: 0 -130px;
}
#nav ul li.pale-ale {
  background-position: 0 -195px;
}
#nav ul li.stout:hover {
  background-position: 0 -260px;
}
#nav ul li.red:hover {
  background-position: 0 -325px;
}
#nav ul li.leann:hover {
  background-position: 0 -390px;
}
#nav ul li.pale-ale:hover {
  background-position: 0 -455px;
}
#nav ul li:hover {
  cursor: pointer;
}

#nav ul li img {
  display: none;
}
#nav ul li:hover img {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 1px 0 0 284px;
}
