<div class="row-fluid dialog-wrapper">
  <div class="span8 offset2 dialog-pane">
    <img src="img/fruli-email-thanks.png">

    <div class="row-fluid">
      <div class="span10 offset1">
        <p>To learn more about Fr&uuml;li visit: <a href="http://www.fruli.be/">http://www.fruli.be/</a></p>

        
      </div>
    </div>
  </div>
</div>
