<div class="row-fluid dialog-wrapper">
  <div class="span8 offset2 dialog-pane">
    <img src="img/hacker-email-landing-thanks.png">

    <div class="row-fluid">
      <div class="span10 offset1">
        <p>To learn more about Hacker-Pshorr visit: <a href="http://www.hacker-pschorr.com/en/">http://www.hacker-pschorr.com/en/</a></p>

        <img src="img/hacker-email-thanks-hero.png" class="thanks-hero">
      </div>
    </div>
  </div>
</div>
