h2#locatorHeader{
  color: #7a7a7a;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

div#geoOptions{
  text-align: center;
}

.geoOpt {
  margin-left: 10px;
  margin-right: 10px;
}

#current_location {
  margin-top: 0;
}

#location {
  margin-bottom: 0;
  width: 200px;
}

#submitBtn {
  display: block;
  margin: 20px auto 0;
}

.location {
  margin-bottom: 10px;
  text-align: center;
  color: black;
  cursor: pointer;
  &:nth-child(2n){
    color: red;
  }
  &:nth-child(2n+3){
    color: blue;
  }
}

.load-more {
  text-align: center;
  margin-bottom: 15px;
}
