#page_wrap {
  width: 810px;
  height: auto;
  position: relative;
}


.container {
  width: 810px;
  background-color: #dec98a;
}

#header {margin: 10px 0 10px 0;}

.form_wrapper {
  background-color: #FFF;
  padding: 20px 0;
}

label, .required-field {
    display: inline-block;
}
.required-field {
    color: red;
}

.btn-primary {
  background: #333;
  text-transform: uppercase;
  margin-top: 10px;
}

footer {
  border-top: 14px solid #dec98a;
}

footer img {
  vertical-align: top;
}

.dialog-wrapper {
  background: url('img/fruli-bg.jpg') no-repeat 0 0;
  height: auto;
}

.dialog-pane {
  background-color: rgba(255, 255, 255, .8);
  padding: 20px;
  margin: 25px 0;

  border: 1px solid #dec98a;
}

.dialog-pane img {
  display: block;
  margin: 0 auto;
}

.dialog-pane p {
  margin: 15px 0 0 0;
  color: #c52726;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
}


.dialog-pane a {
  color: #2f6438;
}

.dialog-btn {
  background: #fff;
  border: 1px solid #dec98a;
  color: #333;
  text-align: center;
  font-size: 20px;
  line-height: 26px;
  margin-top: 20px;
  width: 100%;
}

.dialog-btn:hover {
  background: #fff5df;
  color: #c52726;
}

.dialog-pane img.thanks-hero {
  margin-top: 10px;
  border: 1px solid #dec98a;
}

/* form errors */

  form input[type=text],
  form input[type=password],
  form input[type=email],
  form select,
  form textarea,
  {
    box-sizing: border-box;
    width: 100%;
    height: auto;
  }
  form input.error,
  form input.errors,
  form textarea.error,
  form textarea.errors
  {
    border: 1px solid darkred;
  }
  form.small {
    width: 33%;
  }
  form.medium {
    width: 66%;
  }
  .errors-summary {
    box-sizing: border-box;
    width: 85%;
    height: auto;
    color: #666;
    background-color: #fffff6;
    background-color: #fff;
    border: 1px solid darkred;
    padding: 1em;
    margin: 1em auto;
  }
  .errors-summary ul {
  }
  .errors-caption {
    font-weight: bold;
  }
  .errors-title {
    float: left;
  }
  .errors-title:after {
  content: "\a0 ";
  }
  .errors-message {
    color: red;
  }
  label[data-required]:after {
    content : ' *';
  }
  label {
    font-weight: 500;
    color: #666;
  }



/* bootstrap width overrides for FB 810px width */

@media (min-width: 768px) and (max-width: 979px) {
  .container {
    width: 810px;
  }

  .span12 {
    width: 810px;
  }

}
